# Kanoon Mitra Backend Environment Variables for Vercel / Production
# Set these in your Vercel Project Settings > Environment Variables for the Backend project

MONGODB_URL=mongodb+srv://ashifansari04704_db_user:nLndv2OpwOu4nk5S@project1.6bnf3vi.mongodb.net/?appName=project1
NEWSDATA_API_KEY=pub_925214956b0b420da2b0a1d54be08785
JWT_SECRET=d23093b77c98a89b7ac0e4cfc1be4646c2f0b0eadf56307f0699ff26fd7e6ec546e370d36cf2717abee282accbaf3dbcccffba97c881999e868ae7a9de509782
PORT=3400
